<div class="accommodation-info">
    <h3 class="title">KONAKLAMA BİLGİLERİ</h3>
    <div class="hotel-info">
        <div class="hotel-info-title">
            <h4 class="hotel-name">Lagora Old Town Hotel & Bazaar</h4>
            <p class="hotel-rating"><span>3.5</span> Müthiş</p>
        </div>

        <p class="stay-dates">04 Temmuz 2024 <span>-</span> 05 Temmuz 2024</p>
    </div>
    <div class="hotel-details">
        <div class="hotel-image">
            <img src="/assets/background/1.jpg" alt="Hotel Image">
        </div>
        <div class="stay-info">
            <p><i class="fa-solid fa-moon icon"></i> 1 gece</p>
             <p><i class="fa-solid fa-user-group icon"></i> 1 Yetişkin</p>
            <p><i class="fa-solid fa-bed icon"></i> Standart Oda - 20 m²</p>
            <p class="meal-info"><i class="fa-solid fa-utensils icon"></i> Kahvaltı Dahil</p>
            <p class="cancellation-info"><i class="fa-solid fa-circle-exclamation icon"></i> İptal Edilemez</p>
          </div>
    </div>
    <div class="hotel-address">
        <p>Havra Sokagi 10/C Konak İzmir</p>
    </div>
</div>