<form action="" [formGroup]="paymentForm" (submit)="createCreditCard()">
<input type="text" name="" id="" placeholder="name" formControlName="name">
<input type="text" name="" id="" placeholder="cardNo" formControlName="cardNo">
<input type="text" name="" id="" placeholder="expireMonth" formControlName="expireMonth">
<input type="text" name="" id="" placeholder="expireYear" formControlName="expireYear">
<input type="text" name="" id="" placeholder="cvv" formControlName="cvv">
<input type="text" name="" id="" placeholder="balance" formControlName="balance">
<button type="submit">Gönder</button>
</form>
