<app-basic-layout>
  <div class="container">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
    <div class="hotel-list">
      <app-card *ngFor="let hotel of filteredHotels"
                [imageSrc]="'assets/images/hotel-a1.jpg'"
                [imageAlt]="hotel.name"
                [title]="hotel.name"
                [description]="hotel.addressDescription + ' - ' + (hotel.star | star)"

                (buttonClick)="selectRoom(hotel)">
             
                
        <div class="hotel-features">
          <div *ngFor="let feature of hotel.features" class="feature-column">
            <span>{{ feature }}</span>
          </div>
       
        <button type="button" class="btn btn-primary" (click)="selectRoom(hotel)">Choose Room</button>
        </div>
      </app-card>
    </div>
    <div *ngIf="filteredHotels.length === 0">
      <p>Hiç otel bulunamadı.</p>
    </div>
    <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</app-basic-layout>

