.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 100px;
}
.content{
    background: linear-gradient(to left, #ff942c, #f07417,#fe620e);
    box-shadow: 0 5px 15px rgba(0,0,0,0.35) ;
    border-radius: 20px;
    display: flex;
    padding: 20px 10px;
}
.form-components{
    border: 2px solid #ff942c;
    padding: 25px 20px;
    border-radius: 20px;
    background-color: #fff;
    width: 458.2px;
    height: 288px;
    z-index: 100;
}
.selective{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    padding: 15px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.selective p {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 10px 0 5px 0;
}
.chosen{
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 24px;
    
}
input{
    padding: 8px;
    width: 200px;
    margin-bottom: 4px;
}
input[type="submit"]{
    margin-top: 16px;
    padding: 11px 0;
    width: 120px;
    border-radius: 5px;
    background-color: #ff942c;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border: 0;
}
button{
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover,button:hover{
    transform: scale(0.98);
}
label{
    color: #ff942c;
    font-weight: 440;
}
textarea{
    width: 205px;
    height: 115px;
    resize: none;
    padding: 7px;
}
input,textarea,select{
    border: 1.5px solid #ff942c;
    outline: 0;
    border-radius: 15px;
}
.form,.general-area{
    display: flex;
    gap: 20px;
}
.general-area select{
    padding: 7px 10px;
    width: 100px;
}

.form-components, .selective {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.form-components.moved  {
    transform: translateX(45%);
}

.selective.moved  {
    transform: translateX(-220%);
}

.form-title{
    text-align: center;
    color: #f07417;
    margin-top: 20px;
}
.form-login{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
td a{
    text-decoration: none;
    color: #f07417;
    font-size: 12px;
}