@if(!replies[feedbackId]?.transactionalDone) {
    <div class="reply-container-zero"> 
    @if(role==="MANAGER"){
       
      <div class="status">
        Geri bildirime cevap verilmedi
      </div>
        <button (click)="onClick(feedbackId)">Cevap Ver</button>
      
    }@else {
      Henüz yanıt gelmedi.
    }
      </div>
    }@if(replies[feedbackId]?.transactionalDone){
      <div class="reply-container-one">
        <div class="reply-title">{{replies[feedbackId]?.title}}</div>
        <hr>
      <div class="reply-content">{{replies[feedbackId]?.content}}</div>
      </div> 
    }
    <div class="display" [ngClass]="{'active': isActiveMap[feedbackId]}">
      <app-form [type]="type" [feedbackId] ="feedbackId"></app-form>
    </div> 
      
  
  