<app-basic-layout>
    <div class="room-list">
      <div *ngFor="let room of rooms" class="room-card">
        <app-card>
          <h3>{{ room.title }}</h3>
          <p><strong>Type:</strong> {{ room.roomType }}</p>
          <p><strong>Capacity:</strong> {{ room.capacity }}</p>
          <p><strong>Price:</strong> {{ room.price | currency }}</p>
          <div class="room-features">
            <h4>Features:</h4>
            <ul>
              <li *ngFor="let feature of room.featuresIds">{{ feature }}</li>
            </ul>
          </div>
          <div class="room-images">
            <img *ngFor="let imageId of room.imageIds" [src]="getImageUrl(imageId)" alt="Room Image">
          </div>
        </app-card>
      </div>
    </div>
  </app-basic-layout>
  
