<nav>
    <ul>
        <li>
            <a href="#" class="logo">
                <img src="/assets/logo/CheckInflex.png4.png" alt="">
                <span class="nav-item">CheckInflex</span>
            </a>
        </li>
        <li>
            <a routerLink="/home">
                <i class="fa-solid fa-house icon"></i>
                <span class="nav-item">Home</span>
            </a>
        </li>
        <li>
            <a routerLink="/profile-page/my-account">
                <i class="fa-solid fa-user icon"></i>
                <span class="nav-item">Profile</span>
            </a>
        </li>
        <li>
            <a routerLink="/profile-page/reservations">
                <i class="fa-solid fa-suitcase-rolling icon"></i>
                <span class="nav-item">Reservations</span>
            </a>
        </li>
        <li>
            <a href="#" class="logout">
                <i class="fa-solid fa-right-from-bracket icon"></i>
                <span class="nav-item">Log Out</span>
            </a>
        </li>

    </ul>
</nav>