<app-basic-layout>
  <div class="container">
    <div *ngIf="hotel">
      <h2>{{ hotel.name }}</h2>
      <p><strong>Address:</strong> {{ hotel.addressDescription }}</p>
      <p><strong>Phone:</strong> {{ hotel.phoneNumber }}</p>
      <p><strong>Email:</strong> {{ hotel.email }}</p>
      <p><strong>Rating:</strong> {{ hotel.star }} Star(s)</p>

      <div class="hotel-images">
        <img *ngFor="let image of hotel.images" [src]="image" [alt]="hotel.name" />
      </div>

      <div class="hotel-features">
        <h3>Features</h3>
        <div *ngFor="let feature of hotel.features" class="feature-column">
          <span>{{ feature }}</span>
        </div>
      </div>
      <app-room-list [hotelId]="hotel.id"></app-room-list>
      <div class="map">
        <!-- Implement Google Maps integration or other map solution here if needed -->
      </div>
    </div>
    <div *ngIf="!hotel">
      <p>Hotel details not found.</p>
    </div>
  </div>
</app-basic-layout>
