img{
    width: 250px;
    
}
.icon{
    color: #ff942c;
    margin-right: 5px;
    font-size: 20px;
}
nav  {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    margin-top: 15px;
    background-color:#fff;  /* Beyaz rengin şeffaf versiyonu */
     /* Buraya arkaplan resminizin yolunu yazın */
    background-size: cover; /* Arkaplan resminin boyutunu kapsayacak şekilde ayarlar */
    border-top: 2px solid #ff942c;
    border-bottom: 2px solid #ff942c;
    
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}
ul a{
    text-decoration: none;
    color: black;
}
li{
    font-weight: 550;
}
#login{
    border: 2px solid #ff942c;
    border-radius: 20px;
    padding: 6.5px 20px;
}
select{
    font-weight: 550; 
    border: 2px solid #ff942c;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    outline: 0;
}
option{
    background-color: #ff942c; 
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
option:hover{
    background-color: #ffffff; 
    color: #ff942c;
    cursor: pointer;
    font-weight: 550;
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .toggle-btn{
    color:orange;
    font-size:1.5rem;
    cursor: pointer;
    display: none;
  }
/* DROPDOWNMENU */
.dropdown-menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
  }
  .dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
  }
  .dropdown-menu.open{
    height: 190px;
  }
  .dropdown-menu .login{
    width: 100%;
    display: flex;
    justify-content: center;
  }
 
  /* RESPONSIVE DESIGN */
  @media(max-width:992px){
     ul,
     .login{
      display: none;
    }
    .toggle-btn{
      display: block;
    }
    .dropdown-menu{
      display:block ;
    }
  }
  @media(max-width:576px){
    .dropdown-menu{
      left: 2rem;
      width: unset;
    }
  }