img{
    width: 200px;
    
}
.icon{
    color: #ff942c;
    margin-right: 5px;
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    margin-top: 15px;
    background-color: #fff;
    border-top:2px solid #ff942c ;
    border-bottom:2px solid #ff942c;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}
ul a{
    text-decoration: none;
    color: black;
}
li{
    font-weight: 550;
}
#login{
    border: 2px solid #ff942c;
    border-radius: 20px;
    padding: 6.5px 20px;
}
select{
    font-weight: 550; 
    border: 2px solid #ff942c;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    outline: 0;
}
option{
    background-color: #ff942c; 
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
option:hover{
    background-color: #ffffff; 
    color: #ff942c;
    cursor: pointer;
    font-weight: 550;
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
}