footer{
    display: flex;
    justify-content: space-between ;
    align-items:center ;
    flex-direction: column;
    width: 100vw;
    height: 80px;
    background-color: #f07417;
    padding: 15px;
    position: fixed;
    bottom: 10px;
    border-top:2px solid #fff ;
    border-bottom:2px solid #fff;
    color: #fff;
}
ul{
    display: flex;
    justify-content: center;
    align-items:center ;
    list-style: none;
    gap: 10px;
}
a{
    color: #fff;
}
.siteTitle{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
