<footer>
    <div class="siteTitle"><em>CheckInflex</em></div>
    <ul>
        <a href="">
            <li>{{"Social Media" | translate}}</li>
        </a><a href="">
            <li>{{"Support and Help" | translate}}</li>
        </a><a href="">
            <li>{{"About" | translate}}</li>
        </a>
    </ul>
    <div class="lisans">
        © 2024 {{"It is Tobeto company. All rights reserved. Your credit card information is protected by a 256 bit SSL certificate." | translate}}
    </div>
</footer>