<app-basic-layout>
    <div class="container">
        <div class="secondly-navbar">
            <nav>
                <ul>
                    <a routerLink="/manager-panel/my-about">
                        <li>Hakkımda</li>
                    </a>
                    <a routerLink="/manager-panel/rooms">
                        <li>Odalar</li>
                    </a>
                    <a routerLink="/reservations">
                        <li>Rezarvasyon İşlemleri</li>
                    </a>
                    <a routerLink="/manager-panel/feedback-reply">
                        <li>Geri Bildirimler</li>
                    </a>
                    <a routerLink="/generalAnalysis">
                        <li>Genel Analiz</li>
                    </a>
                </ul>
            </nav>
        </div>
<div class="content">
    <router-outlet></router-outlet>
</div>
    </div>
</app-basic-layout>