<app-basic-layout>
    <div class="body">
        <div class="container" id="container" [ngClass]="{'active': isActive}">
            <div class="form-container sign-up">
                <form action="http://localhost:8080/users/register" (submit)="createUser()" [formGroup]="registerForm">
                    <h1 id="create-account">{{"Create Account" | translate}}</h1>
                    <div class="social-icons">
                        <a href=""><i class="fa-brands fa-google login-icon"></i></a>
                        <a href=""><i class="fa-brands fa-facebook login-icon"></i></a>
                    </div>
                    <span>{{"ore use your email for registeration" | translate}}</span>
                    <input type="text" placeholder="{{'First Name' | translate}}" formControlName="firstName" name="firstName">
                    <input type="text" placeholder="{{'Last Name' | translate}}" formControlName="lastName" name="lastName">
                    <input type="email" placeholder="{{'Email' | translate}}" formControlName="email" name="email">
                    <input type="password" placeholder="{{'Password' | translate}}" formControlName="password" name="password">
                    <input type="password" placeholder="{{'Password Confirm' | translate}}" formControlName="passwordConfirm" name="passwordConfirm">
                    <input type="submit" value="{{'Sign Up' | translate}}" [disabled]="!registerForm.valid">
                </form>
            </div>
            <div class="form-container sign-in">
                <form action="http://localhost:8080/users/login" (submit)="checkUser()" [formGroup]="loginForm">
                    <h1>{{"Sign In" | translate}}</h1>
                    <div class="social-icons">
                        <a href="" ><i class="fa-brands fa-google login-icon"></i></a>
                        <a href="" ><i class="fa-brands fa-facebook login-icon"></i></a>
                    </div>
                    <span>{{"or use your email password" | translate}}</span>
                    <input type="email" placeholder="{{'Email' | translate}}" formControlName="email" name="email">
                    <input type="password" placeholder="{{'Password' | translate }}" formControlName="password" name="password">
                    <a href="#">{{"Forget Your Password" | translate}} ?</a>
                    <input type="submit" value="{{'Sign In' | translate}}" [disabled]="!loginForm.valid">
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>{{"Welcome Back!" | translate}}</h1>
                        <p>{{"Enter your personal details to use all of site features." | translate}}</p>
                        <button class="hidden" id="login" (click)="loginBtn()">{{"Sign In" | translate}}</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>{{"Hello, Friend!" | translate}}</h1>
                        <p>{{"Register with your personal details to use all of site features." | translate}}</p>
                        <button class="hidden" id="register" (click)="registerBtn()">{{"Sign Up" | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-time-display  [isSubmit]="submit" [message]="message" [color]="color"></app-time-display>
</app-basic-layout>