<div class="container">
    <div class="information">
        <div class="icon">

        </div>
        <input class="search" type="text" value="Varış noktası">
        <hr>
        <h3>Popüler tatil noktaları</h3>
        <!-- @for (item of items; track $index) {

        } -->
        <div class="location">
            <div class="icon">

            </div>
            <div class="location-info">
                <h5>Fethiye</h5>
                <small></small>
            </div>
        </div>

    </div>
</div>