<div class="container">
    <div class="information">
        <div class="icon-close">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <input class="search" type="text" placeholder="{{'Destination' | translate}}"  [(ngModel)]="selectedLocationInfo" value="{{selectedLocationInfo}}">
        <hr>
        <h3>{{"Popular holiday destinations" | translate}}</h3>
        
        <div class="locations">
            @for (item of locations; track $index) {
                <div class="location" (click)="logLocationInfo(item)">
                    <div class="icon-location">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
    
                    <div class="location-info">
                        <span class="local">{{item.town}}</span>
                        <small>{{item.city}}, {{item.country}}</small>
                    </div>
                </div>
            }
        </div>

    </div>
</div>