.container{
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw; */
}
.information{
    position: rel;
    background-color: white;
    height: 500px;
    width: 400px;
}